@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Fetch Used Coupon";
}
@model IEnumerable<Fashion_Avenue.Models.UsedCoupon>
<script src="~/assets/js/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#search").on('input', function () {
            var search = $(this).val();
            $.ajax({
                url: "@Url.Action("Fetch_Used_Coupon", "Admin")",
                type: "GET",
                data: { search: search },
                success: function (data) {
                    $("#table tbody").html($(data).find("#table tbody").html());
                }
            })
        });
    });

</script>
<section class="main_content dashboard_part">

    <div class="main_content_iner ">
        <div class="container-fluid plr_30 body_white_bg pt_30">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="QA_section">
                        <div class="white_box_tittle list_header">
                            <h4>Table</h4>
                            <div class="box_right d-flex lms_block">
                                <div class="serach_field_2">
                                    <div class="search_inner">
                                        <form Active="#">
                                            <div class="search_field">
                                                <input type="text" id="search" placeholder="Search content here...">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="QA_table ">

                            <table class="table lms_table_active" id="table">
                                <thead>
                                    <tr>
                                        <th>Coupon Code</th>
                                        <th>Coupon Discount</th>
                                        <th>Coupon Used By</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            @if (TempData.ContainsKey("C_Fetch Mess"))
                                            {
                                                <td class="text-danger fw-bold">@TempData["C_Fetch Mess"]</td>
                                            }
                                            <td>@item.UcCoupon.CName</td>
                                            <td>%@item.UcCoupon.CDiscount</td>
                                            <td>@item.UcUser.UName</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @if (TempData.ContainsKey("CP_Mess"))
    {
        var A_M = TempData["CP_Mess"];
        <script>
            alert("@A_M");
        </script>
    }
    @if (TempData.ContainsKey("U_Catg"))
    {
        var U_M = TempData["U_Catg"];
        <script>
            alert("@U_M");
        </script>
    }

    <div class="footer_part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="footer_iner text-center">
                        <p>2020 © Influence - Designed by<a href="#"> Dashboard</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
